@using BlogMVCProject.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
        <div class="container">
            @Html.ActionLink("Lynn's Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: #000000;" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link", style = "color: #000000;" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link", style = "color: #000000;" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link", style = "color: #000000;" })</li>
                    <li>@Html.ActionLink("Category", "Index", "Categories", new { area = "" }, new { @class = "nav-link", style = "color: #000000;" })</li>
                    <li>@Html.ActionLink("Article", "Index", "Articles", new { area = "" }, new { @class = "nav-link", style = "color: #000000;" })</li>

                    @* Admin *@
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, new { @class = "nav-link", style = "color: #000000;" })</li>
                    }
                </ul>

                @* login/logout *@
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link" style="color: #000000;">Logout</a>
                            }
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", style = "color: #000000;" })</li>
                    }
                </ul>


                @using (Html.BeginForm("Index", "Articles", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="input-group">
                        @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Search Articles" })
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <address>
                Written by <a href="mailto:lingyuluo25@gmail.com">Lynn</a>.<br>
                My Linkedin: <a href="https://www.linkedin.com/in/lingyu-luo-698b76233">Linkedin</a><br>
                New Zealand<br>
            </address>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
